body {
    background-color: #ffffff;
}
.blue-bar {
    background-color: #113177;
}
a.main-menu {
    color: #ffffff;
}
a.main-menu:hover {
    color: #8ba6ff;
}
h1 {
    font-size: 22px;
    text-transform: uppercase;
    margin: 2px 0px;
    color: #294d9b;
}
h2 {
    font-size: 13px;
    color: #6b6b6b;
    font-weight: 300;
}
table {
    font-size: 14px;
}
th {
    text-transform: uppercase;
    font-weight: normal;
}
thead {
    background-color: #383838;
    color: #ffffff;
}
tbody {
    color: #6b6b6b;
}
tr.body-row:hover {
    background-color: #f5f5f5;
}
div.card-first-line {
    margin: 0px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    display: inline-block;
    width: 175px;
}
div.card-second-line {
    margin: 0px;
    font-size: 13px;
    color: #525252;
    display: inline-block;
}
button.btn {
    border-radius: 0px;
}
span.card-first-line{
    margin: 0px;
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
}
span.card-second-line {
    margin: 0px;
    font-size: 13px;
    color: #666666;
}
div.index-container {
    display: flex;
    flex-direction: row;
}
div.left-container {
    width: 304px;
    min-height: 350px;
    max-height: 520px;
    background-image: url("/../uploads/hotelapp.jpg");
    background-size: cover;
}
div.right-container {
    max-height: 520px;
    width: 500px;
    min-height: 350px;
    background-color: #f8f8f8;
    border: 1px solid #d1d1d1;
    border-left: 0px;
}
p.index-text {
    color: #6b6b6b;
    margin: 30px 0px;
}
button.btn-one {
    background-color: #002077;
    color: #ffffff;
    border: 0px;
    padding: 5px 25px;
    margin-right: 10px;
}
button.btn-one:hover {
    background-color: #1b2bb9;
}
button.btn-two {
    background-color: #00109b;
    color: #ffffff;
    border: 0px;
    padding: 5px 25px;
    margin-right: 10px;
}
button.btn-two:hover {
    background-color: #1a38e0;
}
button.btn-three {
    background-color: #2c56ca;
    color: #ffffff;
    border: 0px;
    padding: 5px 25px;
    margin-right: 10px;
}
button.btn-three:hover {
    background-color: #4464f7;
}
input::placeholder {
    font-size: 12px;
}