{% extends 'base.html.twig' %}

{% block title %}Hotel App{% endblock %}

{% block body %}

    <div class="index-container">
        <div class="left-container"></div>
        <div class="right-container p-4">
            <h1>Welcome in Hotel App!</h1>
            <p class="index-text"> 
                Hotel App is a very simple web application to manage room checkins in a hotel.
                To start just click room button on top menu, choose concrete room and checkin someone.
                For more information choose about page.
            <p class="index-text">
                Note that the app is created only for education purposes.
            </p>
        </div>
    </div>


{% endblock %}
